<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.twg.myguide">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.Camera" />
    <uses-feature android:name="android.hardware.Camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icont"
        android:label="Book My Guide"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyGuide">
        <activity android:name=".bookGuidActivity"></activity>
        <activity android:name=".covidActivity" />
        <activity android:name=".bookingActivity" />
        <activity android:name=".tourWebActivity" />
        <activity android:name=".tourismActivity" />
        <activity android:name=".PlaceswebActivity" />
        <activity android:name=".PlacesActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CaptureAct"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>

</manifest>